// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Shadows
$shadow-light: rgba(#000, .1);
$shadow-default: rgba(#000, .2);

// SIZING VARIABLES
$vertical-sm: 2rem;
$vertical-md: 3rem;
$vertical-lg: 4rem;
$vertical-xl: 8rem;
$vertical-xxl: 15rem;

$respond-lg-multiplier: 0.9;
$respond-md-multiplier: 0.75;
$respond-sm-multiplier: 0.6;